.form {
  width: 400px;
  height: 400px;
  margin: 2rem auto;
  padding: 20px;
  border: 1px solid;
  justify-content: space-between;
  border-radius: 10px;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #353336;
  display: flex;
  justify-content: center;
}

.control input {
  display: flex;
  justify-content: center;
  font: inherit;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #38015c;
  padding: 0.25rem;
  background-color: #f7f0fa;
}
.control textarea {
  display: block;
  justify-content: center;
  font: inherit;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #38015c;
  padding: 0.25rem;
  background-color: #f7f0fa;
}

.control select {
  display: block;
  justify-content: center;
  font: inherit;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #38015c;
  padding: 0.25rem;
  background-color: #f7f0fa;
}

.action {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  margin-left: 100px;
}

.action {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  background-color: #38015c;
  color: white;
  border: 1px solid #38015c;
}

.action:hover {
  background-color: #540d83;
  border-color: #540d83;
}

/* Expense.module.css */

.expense {
  list-style-type: none;
  padding: 0;
  margin-left: 550px;
}

.expense li {
  width: 400px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.expense li div {
  margin-bottom: 5px;
}

.expense li div:last-child {
  margin-bottom: 0;
}

.expense li div:nth-child(odd) {
  background-color: #f5f5f5;
}
